.articles {
  margin-bottom: 51px;
}

@media @tablet-width {
  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 61px;
  }
}

